.env.sh
.*.appname
clouddeploy.yaml
.tmp.clouddeploy.yaml
.vscode/
ttt
.99-PRIVATE-dai-accesso-a-Riccardo.sh
t.*
.git-privatize
.executed_ok*
vecchiume/
examples/17-expose-solution0-with-PSC-NEG-TODO.sh
97-create-projects-for-my-buddies.sh
99-look-for-errors.sh
