# HurricaneAlex: remove Deployments and leave only Services
apiVersion: v1
kind: Service
metadata:
  # This needs to be rennamed to `__APPNAME__-sol2-svc-canary`
  name: __APPNAME__-sol2-svc-canary
  annotations:
    networking.gke.io/max-rate-per-endpoint: "10"
    # I need to specify the NEG name
    # eg, app01-sol2-svc-canary
    # Name NEEDS to be autodetected because it needs to be different per cluster.
    cloud.google.com/neg: '{"exposed_ports": {"8080":{"name": ""}}}'
    #cloud.google.com/neg: '{"exposed_ports": {"8080":{"name": "__APPNAME__-sol2-svc-canary-neg"}}}'
spec:
  selector:
    app: __K8S_APP_SELECTOR__ # 4. this needs to be like 1/2.
    ricc-env: canary
  ports:
  - port: 8080
    targetPort: 8080
